html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Times New Roman', Times, serif;
}

.body {
    background-color: rgb(210, 213, 214);
}

.pageheader {
    background-color: rgb(59, 107, 126);
    color: aliceblue;
    padding: 10px;
    text-align: center;
    font-size: 48px;
    width: 100%;
    margin: auto;
    border-radius: 8px;

}

.button-container {
    display: flexbox;
}

button {
    font-size: 24px;
    padding: 32px;
    display: block;
    margin: 16px auto;
}

.image-container {
    margin: 48px auto;
    border: 4px solid rgb(96, 117, 138);
    border-radius: 8px;
    
}

.return-home {
    background-color: rgb(138, 136, 136);
    border: 1px solid rgb(204, 200, 200);
    color: white;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}



.favorite {
    border: 5px solid rgb(124, 161, 175);
    margin-top: 56px;
    text-decoration: none;
}

.mealprep {
    border: 5px solid rgb(124, 161, 175);
    text-decoration: none;
}


.winter {
    border: 5px solid rgb(124, 161, 175);
    text-decoration: none;
}